body {
    background-image: url(../fondos/fondo_obras.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: 'Pathway Gothic One', sans-serif;
  }
  
  
  
  *{
    margin: 0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  strong{
    text-align: left;
    margin-left: 3%;
    font-size: 27px;
    color: black;
    font-style: initial;
    margin-top: 50%;
  }
  
  /*menu*/
  
  .navegacion{
    width: 1000px;
    margin: 0px auto;
    background: #fff;
  }
  
  .navegacion ul{
    list-style: none;
  }
  
  .menu > li{
    /*position: relative;*/
    display: inline-block;
  }
  
  .menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Pathway Gothic One', sans-serif;
    text-decoration: none;
    font-size: 19px;
  }
  
  .menu li a:hover{
    transition: all .3s;
    color: #ce7d35
  }
  
  /*submenu*/
  
  .submenu{
    position: absolute;
    background: #333333;
    width: 10%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
  
  }
  
  .submenu li a{
    display: block;
    padding: 15px;
    font-family: 'Pathway Gothic One', sans-serif;
    text-decoration: none;
    color: white;
  }
  
  .menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
  
  }
  
  .menu li[name="logout"]{
    margin-left: 11%;
  }
  
  /*General*/
  
  div{
      position: absolute; 
      top: 29%; 
      left: 67%; 
      margin-left: -225px; 
      margin-top: -160px; 
      width: 600px;
      height: 600px;
      background: none;
      border-radius: 50px;
      
  }
  
  input[type=text], select {
      width: 95%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid rgb(197, 193, 193);
      border-radius: 10px;
      box-sizing: border-box;
      margin-left: 2%;
  }
  
  
  label{text-align: left; 
  margin-left: 2%;
  }
  h1{text-align: center;}
  h2{text-align: center;}
  
  div button[name="class2"]{margin-left: 30%;
      cursor: pointer;
      width: 15%;
      height: 25px;
      
  }
  
  textarea{
      width: 95%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid rgb(197, 193, 193);
      border-radius: 10px;
      box-sizing: border-box;
      margin-left: 2%;
      height: 120px;
  }
  
  div p{
      font-size: 15px;
      margin-left: 10%;
  }
  
  input[type=number]::-webkit-outer-spin-button,
  
  input[type=number]::-webkit-inner-spin-button {
  
      -webkit-appearance: none;
  
      margin: 0;
  
  }
  
   
  
  input[type=number] {
  
      -moz-appearance:textfield;
  
  }
  
  input[type=number], select {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(197, 193, 193);
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 2%;
  }

  input[name='id'], select {
    width: 10%;
    padding: 12px 20px;
    margin: 0.1px 0;
    display: inline-block;
    border: 1px solid rgb(197, 193, 193);
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 2%;
  }
  div input[name="modificar"]
  {
      margin-left: 10%;
      cursor: pointer;
      width: 15%;
      height: 25px;
  }

  div button[name="limpiar"]{
      margin-left: 15%;
      width: 15%;
      height: 40px;
  }

  input[name="time"]
{
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(197, 193, 193);
  border-radius: 10px;
  box-sizing: border-box;
  margin-left: 2%;
}

select[name="incentivo"]{
  width: 50%;
}

.id_incentivo{
  width: 10%;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-weight: 700;
  color: black;
  background-color: none;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: whitesmoke;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

input[name="pts_min"]{
  width: 10%;
}

input[name="pts_max"]{
  width: 10%;
}
